* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #0d0d0d, #2b0a4d, #3C3489, #0d0d0d);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
    background: transparent !important;
}