* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #0d0d0d, #2b0a4d, #3C3489, #0d0d0d);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
    background: transparent !important;
    color: white !important;
}
.card1{
  background-color: #342b5e!important;
}

.cardBotones{
  background-color: #0e04046b!important ;
}

.titulo-seccion {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #1f1f1f;
    border-left: 5px solid #e50914;
    border-radius: 5px;
}